@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: .2s ease-out;
}

.cart{
    @apply w-full md:h-auto p-5 rounded-3xl
}

.Referans{
    @apply bg-[#100e09] w-full h-96 rounded-2xl mb-5 flex items-center justify-center
}

.Infos{
    box-shadow: inset 0px 0px 15px black;
    @apply h-48 grid items-center justify-start font-bold dark:bg-blue-500/100 rounded-2xl p-5
}

.Hovers{
    width: 100%;
    height: 75px;
    border-radius:20px ;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply hover:bg-sky-700 hover:font-extrabold hover:scale-y-125
}